$title: #436372;
$default: #243f4d;
$btn: #a3bbc8;
$accent: #fcd7b6;


%DM-Sans400 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

%DM-Sans500 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

%DM-Sans700 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

%Rubik400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%Rubik500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%Poppins700 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

