.banner {

  &__slider {
    background-color: $accent;
    padding: 210px 0 250px 0;
  }

  &__row,
  &__inner {
    display: flex;
  }

  &__title {
    font-size: 72px;
    line-height: 70px;
    color: $default;
    @extend %Rubik500;
    margin-bottom: 25px;
  }

  &__text {
    max-width: 370px;
    font-size: 18px;
    line-height: 30px;
    color: $title;
    @extend %Rubik400;
    margin-bottom: 30px;
  }

  &__link {
    display: inline-block;
    color: #fff;
    background-color: $btn;
    padding: 18px 100px 18px 25px;
    font-size: 15px;
    margin-bottom: 50px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url(../../images/arrow-r.svg);
      top: 26px;
      right: 18px;
      width: 22px;
      height: 9px;
    }
  }

  &__ellips {
    position: absolute;
    border-radius: 50%;
    width: 643px;
    height: 643px;
    top: 80px;
    background: linear-gradient(to right, transparent 0%, white 100%);
    transform: translateX(670px);
  }
}


.slick {

  &-list {
    overflow: hidden;
  }

  &-track {
    display: flex;
  }
}